.column {
    min-width: 250px;
    background-color: #f4f5f8;
    border-radius: 5px;
    padding: 10px;
  }
  
  .column-header {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .tickets-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }