.control-panel {
    position: relative;
    margin-bottom: 20px;
  }
  
  .display-button {
    padding: 10px 15px;
    background-color: #f4f5f8;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  
  .control-options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 15px;
    z-index: 10;
  }
  
  .control-options div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .control-options label {
    margin-right: 130px;
    flex-shrink: 0;
  }
  
  .control-options select {
    flex-grow: 1;
    padding: 5px;
  }
  
  .grouping-select {
    width: 110px; 
  }
  
  .icon-left,
.icon-right {
  width: 20px; 
  height: auto;
  margin: 0 5px; 
}